@using SumoCommerce.Model
@model List<Product>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<!-- HOME -->
<div id="home">
    <!-- container -->
    <div class="container">
        <!-- home wrap -->
        <div class="home-wrap">
            <!-- home slick -->
            <div id="home-slick">
                <!-- banner -->
                <div class="banner banner-1">
                    <img src="./img/banner01.jpg" alt="">
                    <div class="banner-caption text-center">
                        <h1>Bags sale</h1>
                        <h3 class="white-color font-weak">Up to 50% Discount</h3>
                        <button class="primary-btn">Shop Now</button>
                    </div>
                </div>
                <!-- /banner -->
                <!-- banner -->
                <div class="banner banner-1">
                    <img src="./img/banner02.jpg" alt="">
                    <div class="banner-caption">
                        <h1 class="primary-color">HOT DEAL<br><span class="white-color font-weak">Up to 50% OFF</span></h1>
                        <button class="primary-btn">Shop Now</button>
                    </div>
                </div>
                <!-- /banner -->
                <!-- banner -->
                <div class="banner banner-1">
                    <img src="./img/banner03.jpg" alt="">
                    <div class="banner-caption">
                        <h1 class="white-color">New Product <span>Collection</span></h1>
                        <button class="primary-btn">Shop Now</button>
                    </div>
                </div>
                <!-- /banner -->
            </div>
            <!-- /home slick -->
        </div>
        <!-- /home wrap -->
    </div>
    <!-- /container -->
</div>
<!-- /HOME -->
<!-- section -->
<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">


            <!-- banner -->
            <div class="col-md-4 col-sm-6">
                <a class="banner banner-1" href="#">
                    <img src="./img/banner10.jpg" alt="">
                    <div class="banner-caption text-center">
                        <h2 class="white-color">NEW COLLECTION</h2>
                    </div>
                </a>
            </div>
            <!-- /banner -->
            <!-- banner -->
            <div class="col-md-4 col-sm-6">
                <a class="banner banner-1" href="#">
                    <img src="./img/banner11.jpg" alt="">
                    <div class="banner-caption text-center">
                        <h2 class="white-color">NEW COLLECTION</h2>
                    </div>
                </a>
            </div>
            <!-- /banner -->
            <!-- banner -->
            <div class="col-md-4 col-md-offset-0 col-sm-6 col-sm-offset-3">
                <a class="banner banner-1" href="#">
                    <img src="./img/banner12.jpg" alt="">
                    <div class="banner-caption text-center">
                        <h2 class="white-color">NEW COLLECTION</h2>
                    </div>
                </a>
            </div>
            <!-- /banner -->

        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /section -->
@*Buraya kadar carouselli kısmı*@


<!-- section -->
<div class="section">
    <!-- container -->
    <div class="container">


        <!-- row -->
        <div class="row">
            <!-- section title -->
            <div class="col-md-12">
                <div class="section-title">
                    <h2 class="title">SİZİN İÇİN SEÇTİKLERİMİZ</h2>
                </div>
            </div>
            <!-- section title -->
          
                <!-- Product Single -->
                @foreach (Product item in Model as List<Product>)
                {
                    <div class='col-md-4 col-sm-6 col-xs-6'>
                        <div class='product product-single'>
                            <div class='product-thumb'>
                                <button class='productDetailButton main-btn quick-view' data-productID="@item.ID"><i class='fa fa-search-plus'></i> Ürün Detayı</button>
                                <img src='@item.Image' alt='' />
                            </div>
                            <div class='product-body'>
                                <h3 class='product-price'>@item.Price TL</h3>
                                <h2 class='product-name'><a href='#'>@item.ProductName</a></h2>
                                <div class='product-btns'>
                                    <button class='addToCartButton primary-btn add-to-cart'><i class='fa fa-shopping-cart'></i> Sepete Ekle</button>
                                </div>
                            </div>
                        </div>
                    </div>
                }
                <!-- /Product Single -->

        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /section -->

@section scripts{
    <script>
        $(".productDetailButton").on("click", function () {
            window.location.href = "/Home/ProductDetail/" + $(this).attr("data-productID");
        });

        $(".addToCartButton")
    </script>
}